@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{
  --color-amber: #f8bc32;
  --color-amber-light: #fae35d;
  --color-blue: #0460c7;
  --color-purple: #1B1464;

  --color-grey-dark: #212121;
  --color-grey-light: #616161;

  --color-white: #ecf0f1;
}

html{
  font-size: 62.5%;
}

*{
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Roboto', 'Lato', sans-serif,;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
